@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.form-container {
    background-color: #181828;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    color: white;
}

.form-container .title {
    font-size:42px;
    font-weight: bold;
}

.form-container .form-title {
    margin-bottom:1rem;
}

.form-container p{
    width: 70%;
    margin-bottom: 1rem;
    text-align: justify;
    font-weight: 400;
    font-size: 18px;
    line-height: 148.02%;
    opacity: 0.8;
}

.form-container .form{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.form-container .form .form-group{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: #2f2f43;
    border-radius: 18px;
    padding: 10px 20px;
    height: 67px;
    border: 1px solid rgba(255, 255, 255, 0.06);
}

.form-container .form .form-group label{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
    opacity: 0.6;
}

.form-container .form .form-group input{
    border: none;
    background-color: #2f2f43;
    color: white;
}

.form-container .form .form-group input:focus{
    border: none;
    outline: none;
}

.form-container .form .form-group input:active{
    border: none;
    outline: none;
}

.form-container .form .change{
    color: white;
    background-color:#181828;
    border: none;
    font-size:14px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.form-container .form .submit{
    color: white;
    background: linear-gradient(99deg, #236BFE 6.69%, #0d4ed3 80.95%);
    box-shadow: 0px 4px 30px rgba(34, 105, 251, 0.8);
    border-radius: 25px;
    height: 66px;
    width: 130
    px;
    padding:22px 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size:14px;
    font-weight: bold;
}